.block{
    display: block !important;
}
.none{
    display: none !important;
}
.liked{
    color: red;
}
.video{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid RGB(239, 239, 239);
    width: 624px;

    &__left{
        img{
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }
    }
}
.video__right{
    margin-left: 12px;
    flex: 1 1 624px;
    position: relative;     

    .video__right__head{

    }

    .video__right-name{
        font-family: "IBM Plex Sans",SofiaPro,Arial,Tahoma,PingFangSC,sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        display: inline-block;
        margin-right: 4px;
    }
    .video__right-nickname{
        font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        line-height: 28px;
    }
    .video__right-btn{
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        color: rgba(254, 44, 85, 1.0);
        border-color: rgba(254, 44, 85, 1.0);
        background-color: rgba(255, 255, 255, 1.0);
        min-height: 28px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        font-family: ProximaNova,PingFangSC,sans-serif;
        display: flex;
        user-select: none;
        cursor: pointer;
        box-sizing: border-box;
        right: 10px;
        position: absolute;
        top: 8px;
        min-width: 88px;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: rgba(254, 44, 85, 0.06);
        }
    }
    .followed{
        color: rgba(22, 24, 35,0.8);
        border-color: rgba(22, 24, 35, 0.12);
        background-color: rgba(255, 255, 255, 0.815);
        
        &:hover {
            border-color: rgb(208, 209, 211);
            background-color: rgb(248, 248, 248);
        }
    }
    .video__right-title{
        font-size: 16px;
        line-height: 22px;
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        span{
            font-weight: 400;
            margin-right: 8px;
        }
        .video__right-title-tag{
            margin-left: 4px;
            a{
                font-weight: 600;
            }
            &-icon{
                width: 14px;
                height: 14px;
            }
        }
    }
    .video__right-music{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-top: 4px;
        margin-bottom: 12px;

        .video__right-music-icon{
            width: 16px;
            height: 16px;
            margin-right: 5px;
            transform: translateY(4px);
        }
    }
    .video__right__bottom{
        display: flex;

        .video__right__bottom-video{
            margin-right: 20px;
        }
        .video__player{
        }
    }
    .video__right__bottom-icons{
        display: flex;
        flex-direction: column;
        justify-content:end;
        text-align: center;
        strong{
            color: rgba(22, 24, 35, 0.75);
            font-size: 12px;
            line-height: 17px;
        }
        .icon-box{
            display: flex;
            cursor: pointer;
            width: 48px;
            height: 48px;
            background-color: rgba(22, 24, 35, 0.06);
            margin-top: 8px;
            margin-bottom: 6px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            -webkit-transition: background-color 1s;
            transition: background-color  0.5s;
            &:hover{
                background-color: rgba(22, 24, 35, .15);
            }
            .video__right__bottom-icon{
                width: 24px;
                height: 24px;
            }
        }
        .video__right__bottom-icon-share{
            position: relative;
            
        }
    }
    .video__right__bottom-icon-share-menus{
        // display: flex;
        flex-direction: column;
        position: absolute;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        width: 280px;
        padding: 8px 0px;
        max-height: 448px;
        overflow: auto;
        box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
        transition: opacity 300ms ease 0s;
        opacity: 1;
        transform: translateY(8px);
        background: rgb(255, 255, 255);
        border-radius: 8px;
        z-index: 1;
        bottom: 90px;
        left: -20px;
        display: none;
        &:hover{
            display: block;
        }
        a{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 11px 16px;
            position: relative;
            color: rgb(22, 24, 35);
            font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
            &:hover{
                background: rgba(22, 24, 35, 0.03);
            }
            svg{
                width: 26px;
                height: 26px;
                margin-right: 12px;
                color: red;
            }
        }
    }
}
