
.container__profile{
    // display: flex;
    padding: 40px 0 0 0;        //khoang cach vs header
    position: relative;
    .profile__info{
        display: flex;
        // justify-content: space-between;
    }
    .profile__info--head{
        display: flex;

        .profile__info--head--avatar{
            img{
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .profile__info--head--textinfo{
            margin-left: 20px;
            h1,h3{
                cursor: pointer;
            }
            &--name{
                line-height: 30px;
            }
            &--btn{
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                position: relative;
                width: 208px;
                height: 36px;
                margin-top: 16px;
            }
            button{
                border-radius: 4px;
                border: none;
                color: rgba(255, 255, 255, 1.0);
                background-color: rgba(254, 44, 85, 1.0);
                cursor: pointer;
                box-sizing: border-box;
                min-width: 208px;
                line-height: 22px;
                justify-content: center;
                padding: 6px 8px;
                font-size: 18px;
                font-weight: 600;
                &:hover{
                    background-color: #fd1342;
                }
            }
        }
    }
// profile body
    .profile__info--body{
        margin-top: 20px;
        .profile__info--body--count{
            display:flex;
            margin-bottom: 20px;

            &>div{
                display: flex;
                margin-right: 20px;
                p{
                    font-size: 15px;
                    // line-height: 20px;
                }
                span{
                    font-size: 16px;
                    margin-left: 6px;
                    color: #b3b5af;
                }
            }
        }
        .profile__info--body--desc{
            font-size: 16px;
        }
        .profile__info--body--link{
            font-weight: bold;
            margin-top: 20px;
            cursor: pointer;
        }
    }
//profile right
    .profile__info__right{
        display: flex;
        margin-left: 10%;
        .icon{
            width: 28px;
            height: 28px;
            margin-left: 14px;
            cursor: pointer;
        }
        .profile__info__right--share{
            position: relative;

            &--box{
                display: block;
                position: relative;
                right: 280%;
                top: 280px;
            }
        }

        .profile__info__right--ibrp{
            position: relative;

            .there__dot--box{
                // display: none;
                position: absolute;
                right: 0;
                width: 140px;
                padding: 6px 0;
                border-radius: 6px;
                -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); 
                box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
                display: none;
                >div{
                    cursor: pointer;
                    padding: 10px 12px;
                    font-weight: 600;
                    line-height: 20px;

                    svg{
                        margin-right: 10px;
                    }
                    &:hover{
                        background-color: rgba(155, 155, 155, 0.123);
                    }
                }
                &--ib{
                    border-bottom: 1px solid rgba(155, 155, 155, 0.368);
                    
                }
            }
        }
    }
    //profile body
    .profile__bar__body{
        margin-top: 30px;
        display: flex;
        position: relative;
        margin-bottom: 8px;

        .profile__bar__body--btn{
            width: 230px;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            position: relative;
            height: 44px;
            cursor: pointer;
            text-align: center;
            color: rgba(18, 18, 18, 0.811);
            opacity: 0.6;
            justify-content: center;
            display: flex;
            position: relative;
            
            
            svg{
                margin-right: 6px;
            }
        }
        .line {
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 0;
            height: 2px;
            border-radius: 15px;
            background-color: #1d1d1d;
            transition: all 0.3s ease;
        }
        .active{
            opacity: 1;
        }
    }

    .profile__list__video{
        min-height: 490px;
        min-width: 520px;
    }

    //profile video item
    .profile__list__video--videos{
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        .profile__video{
            width: calc((100%/8 - 16px));
            margin-right: 16px;
            margin-bottom: 12px;
            position: relative;
            .profile__video__box{
                position: relative;
            }
            .profile__video__item{
                cursor: pointer;
            }
            .profile__video--like{
                position: absolute;
                bottom: 0;
                height: 30px;
                width: 100%;
                color: white;
                padding-bottom: 10%;
                svg{
                    width: 24px;
                    height: 24px;
                    position: relative;
                    top: 6px;
                }
                span{
                    font-weight: 600;
                    font-size: 15px;
                }
            }
            .profile__video--title{
                margin-top: 8px;
                span{
                    width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap; 
                    overflow: hidden;
                    display: block;
                }
            }
        }
    }
    .profile__list__video--title{
        min-height: 200px;
        justify-content: center;
        display: none;
        margin-top: 5%;
        
        span{
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            svg{
                width: 100px;
                height: 100px;
                opacity: 0.3;
                margin-bottom: 30px;
            }
            h1{
                font-size: 25px;
            }
            p{
                font-size: 20px;
                margin-top: 8px;
                opacity: 0.8;
            }
        }
    }
}