@media only screen and (max-width: 1071px){
    .medium__display__none{
        display: none;
    }
    .container__body{
        padding-top: 0px;
    }
    .body__left{
        width: 55px !important;
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(22, 24, 35, 0.12);
        box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
        padding: 12px 8px;
        top: 60px;
        &:hover{
            &::-webkit-scrollbar-thumb {
                background: rgba(212, 212, 212, 0.5);
            }
        }
        .body__left__pages .text{
            display: none;
        }
        a{
            display: block;
        }
        li{
            padding: 8px 4px;
        }
        .body__left__pages{
            margin: 0;
            padding-bottom: 8px;
        }
        .body__left__pages-list-item:hover{
            background-color: rgba(22, 24, 35, 0.03);
        }

        // tai khoan de xuat
        .body__left__dataPropose{
            padding: 8px 0;
            p{
                display: none;
            }
            .dataPropose__item{
                text-align: center;
                display: block;
                padding: 6px;
            }
            img{
                margin: 0;
            }
        }
        .data__review__reposive__medium{
            position: absolute;
            top: 200px;
        }
        .data__review{
            position: absolute;
            top: 255px;
            left: 80px;
            width: 300px;
            z-index: 9999;
            p{
                display: block;
            }
            
        }
        .body__left__dataFollow{
            padding-bottom: 76px;
            border: none;
        }
    }


    .tag__container{
        display: none;
    }
    .body__left__footer{
        display: none;
    }





    .body__right{
        margin-left: 80px;
    }
}







// --------------------------------------------------------------------------------
@media screen and (max-width: 778px){
    .header__middle,.coin{
        display: none;
    }
    .video__right-title{
        width: calc(100vw - 200px) !important;
    }
    .video{
        width: calc(100vw - 32px - 70px);
    }
    .video__right-names{
        display: flex;
        flex-direction: column;
    }
}

