* {
    padding: 0;
    margin: 0;
    border: none;
}
html{
    scroll-snap-type: y mandatory;
}
ul{
    display: flex;

    li{
        list-style: none;
    }
}
a{
    color: black;
}
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
body{
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    color: rgb(22, 24, 35);
    background-color: rgb(255, 255, 255);
    overscroll-behavior: contain;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}